" Exit insert mode.
inoremap jk <esc>

" Paste in visual mode without overwriting the default register. "_d deletes
" the selected text into the black hole register.
vnoremap pp "_dP

" Navigation
nnoremap sv :action SplitVertically<CR>
nnoremap fu :action FindUsages<CR>
nnoremap fp :action FindInPath<CR>
nnoremap gf :action GotoFile<CR>
nnoremap zz :action ToggleZenMode<CR>
